doctype html
html
  head
    title= title
  
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    script(src='javascripts/cuteCrow.js' type='text/javascript')
    script(src="javascripts/playerCreation.js" type='text/javascript')
  body
    block content
