doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    script(src='javascripts/cuteCrow.js' type='text/javascript')
    script(src='javascripts/alert.js' type='text/javascript')
  body
    block content
